@import url(http://fonts.googleapis.com/css?family=Abel:regular);
@import url(http://fonts.googleapis.com/css?family=Hind:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body
{
    font-family: 'Open Sans', Abel, Helvetica, Arial, sans-serif;
}
.fa-plus-circle
{
    color: #5CB85C;
}
.fa-minus-circle
{
    color: #D9534F;
}

/*Utils*/
.affix
{
    top: 0;
}
.clear
{
    clear: both;
}
.wrapper
{
    max-width: 1170px;
    margin: 0 auto;
}
.text-center
{
    text-align: center;
}
.block
{
    display:block;
}
.text-para
{
    text-align: left;
}
/*Header*/
header
{
    padding: 20px 0;
    overflow: auto;
}
.logo
{
    font-family: Hind, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
/*Navigation*/
.navigation
{
    float: right;
}
.navigation li
{
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}
/*Jumbotron*/
.jumbotron
{
    font-family: Abel, Arial, sans-serif; 
    color: #fff !important;
}
.jumbotron-main
{
    background-image: url('../images/typing-banner.jpg');
    background-position: center;
    background-size: cover;
}
.jumbotron-main h1
{
    text-shadow: 1px 1px #000;
}
.jumbo-content
{
    padding: 80px 0;
}
.jumbotron-sec
{
    background-image: url('../images/noisy_net.png');
}
.jumbotron-sec h1
{
    margin-bottom: 0;
}
.jumbotron-sec h2
{
    margin-top: 0;
}
.extra-nav a
{
    color: #fff !important;
}
.extra-nav li
{
    display: inline;
    margin: 0 5px;
}
/*Main Content*/
.tagline
{
    font-family: Hind, Arial, sans-serif; 
}
.tagline h3
{
    font-size: 40px;
}
.tagline h4
{
    font-size: 20px;
}
.divider
{
    height: 1px;
    background-color: #e0e0e0;
    width: 75%;
    margin: 75px auto;
}
.separate-20
{
    margin-top: 20px;
}
.row img
{
    display: block;
    margin: 0 auto;
}
h5
{
    color: #666;
}

/*Wiki Page*/
.nav li > .sub-nav li
{
    position: relative;
    margin-left: 20px;
}
.row
{
    margin-right: 0 !important;
}
.fixed-nav
{
    top: 10px;
}
.info-block
{
    padding-left: 10px;
}
.info-block h3
{
    font-size: 30px;
}
.inline
{
    display: inline !important;
}
/* API Page */
.api-block
{
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
}
.api-block .info-block-desc
{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
    margin-bottom: 5px;
}
.blue-text
{
    color: #337ab7;
}
/*Footer*/
footer
{
    margin-top: 50px;
    border-top: 1px solid #e5e5e5;
    background-color: #f6f6f6;
    padding: 20px;
}
@media only screen and (max-width: 1000px)
{
    .affix {
        position: static !important;
    }
}
